{% load static %}
<html>
<head>
<title>{% block title %} {% endblock %}</title>
<link href="{% static 'tst/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <script src="tst/vendor/bootstrap/jquery/jquery.min.js"></script>
    {% block css %}
{% endblock %}
<style>
body{
    padding-top : 5rem;
    padding-bottom : 5rem;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark justify-content-center fixed-top">

<!-- Links -->
  <a class="navbar-brand">
    <img src="{% static 'tst/logo.jpg' %}" alt="Logo" style="width:40px;">
  </a>
  <!-- Navbar text-->
  <span class="navbar-text">
    TECHNOTSAV
  </span>

</nav>
{% block body %}
{% endblock %}
<main role="main" class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock %}
</main>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-bottom justify-content-center">
<span class="navbar-text">
    Designed by MRIET and ACT
  </span>
</nav>

</body>
</html>