{% extends 'tst/base.html' %}
{% load crispy_forms_tags %}
{% block css %}
<style>
.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

</style>
    {% endblock %}
{% block title %}
ENTER DETAILS
{% endblock %}
{% block body %}
<div class="row">
<div class="col-sm-7">
<main role="main" class="container">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Please provide your details</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
            <br>
                <input type="submit">
            </div>
        </form>
    </div>
    </main>
</div>
<div class="col-md-4">
<div class="content-section side-nav">
                <h3>RULES AND REGULATIONS</h3>
                <p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <small class="text-muted">Do not resize (minimize) the browser during the test.</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">Never click the "Back" button on the browser.</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">Click the "Submit" button to submit your exam. Do not press "Enter" on the keyboard to submit the exam.</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">If you encounter problems accessing or submitting your exam, you must contact your instructor immediately by phone.</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">Please close the browser after completion of the test.</small>
                    </li>
                </ul>
                </p>
            </div>
</div>
</div>
    {% endblock %}